/* css/reset.css */

/* Resetar margens e preenchimento para elementos HTML */
html, body {
  margin: 0;
  padding: 0;
}

/* Remover listas padrão */
ul, ol {
  list-style: none;
  padding: 0;
}

/* Remover espaçamento entre elementos de lista */
li {
  margin: 0;
  padding: 0;
}

/* Remover margens e preenchimento de imagens */
img {
  margin: 0;
  padding: 0;
}

/* Remover estilos padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Header styles */
header {
  background-color: #004587;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 1000; */
}

footer {
  background-color: #ddd;
  color: #333;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* z-index: 1000; */
}


/* Estilo geral da página */
body {
  font-family: sans-serif;
  margin:  150px 50px;
  padding: 20px;
}

/* Container principal dos cards */
.cards {
  display: flex;
  justify-content: space-between; /* Distribui espaço entre os cards */
  margin-bottom: 40px;
}

/* Estilos para cada card */
.card {
  width: 45%; /* Define a largura de cada card */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0)
}